.card-text {
    font-size: 0.97rem;
    margin: 15px 0;
}

.gray {
    color: gray;

}

.card-img-top {
    object-fit: cover;
    height: 250px;
}

.known-for li:first-child {
    list-style-type: none;
    padding-left: 1.65rem;
    padding-bottom: 1rem;
}

.container-card-text {
    height: 130px;
}